:root {
  --font: "Open Sans", sans-serif;
  --primary-color: rgb(75, 23, 148);
  --primary-hover-color: rgb(106, 0, 255);
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --white-color: #ffffff;
  --separator-color: #d4d6e0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #201d1d;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: white;
}

a {
  text-decoration: none;
}
