.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #343a40;
  text-align: center;
}

.title {
  font-size: 6rem;
  margin: 0;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-hover-color);
}
